body {
	background: #141414;
	font-family: 'Open Sans', sans-serif;
	margin-top: 95px;
}
.container {
	max-width: 1200px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
header {
	background: #1f1f1f;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	width: 100%;
}

header .logo {
	text-decoration: none;
	display: block;
	width: 300px;
}

header .logo span {
	padding: 12px 15px;
	padding-left: 0;
	border-radius: 5px;
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 700;
}

header .content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 15px 0;
}

header .content div {
	flex: 0 50%;
}

header .header-search-field {
	background-color: #fff;
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	min-height: 40px;
	align-items: center;
	padding-left: 16px;
	padding-right: 5px;
	border-radius: 3px;
	box-sizing: border-box;
	justify-content: space-between;
	max-width: 550px;
}


header .header-search-field input {
	border: 0;
	outline: none;
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 0;
	font-size: 15px;
}

header .header-search-field input::-webkit-input-placeholder {color:#aaa;}
header .header-search-field input::-moz-placeholder          {color:#aaa;}
header .header-search-field input:-moz-placeholder           {color:#aaa;}
header .header-search-field input:-ms-input-placeholder      {color:#aaa;}

header .header-search-field .search-btn {
	background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 47 (45396) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3Esearch%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs%3E%3C/defs%3E %3Cg id='new' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='desktop-header-states' transform='translate(-790.000000, -205.000000)'%3E %3Cg id='Default' transform='translate(215.000000, 179.000000)'%3E %3Cg id='search' transform='translate(245.000000, 16.000000)'%3E %3Cg transform='translate(282.000000, 6.000000)'%3E %3Cg transform='translate(44.000000, 0.000000)'%3E %3Cpolygon points='0 0 24 0 24 24 0 24'%3E%3C/polygon%3E %3Cpath d='M14.8938098,13.4722306 L20,18.5 L18.5,20 L13.4722306,14.8938098 C12.4922065,15.5904094 11.2939357,16 10,16 C6.6862915,16 4,13.3137085 4,10 C4,6.6862915 6.6862915,4 10,4 C13.3137085,4 16,6.6862915 16,10 C16,11.2939357 15.5904094,12.4922065 14.8938098,13.4722306 Z M10,14 C12.209139,14 14,12.209139 14,10 C14,7.790861 12.209139,6 10,6 C7.790861,6 6,7.790861 6,10 C6,12.209139 7.790861,14 10,14 Z' fill='%23000000' fill-rule='nonzero'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
	background-size: 16px;
	background-position: center;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	border: 0;
	outline: none;
	cursor: pointer;
	background-color: #fff;
}

header .content .languages {
	flex: 0 60px;
	width: 60px;
	text-align: center;
	position: relative;
}

header .content .languages div {
	line-height: 70px;
	margin: -20px 0;
}

header .content .languages span {
	font-size: 14px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 3px;
	text-decoration: none;
	padding: 3px 6px;
	font-weight: 600;
	text-transform: uppercase;
	transition: all .3s ease;
	cursor: pointer;
	user-select: none;
	display: inline-block;
	width: 25px;
	line-height: 20px;
}
header .content .languages span:hover,
header .content .languages:hover span {
	background: #fff;
	color: #000;
}
header .content .languages ul {
	position: absolute;
	background: #fff;
	width: 60px;
	padding: 5px 0;
	margin: 0;
	list-style: none;
	top: 50px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	visibility: hidden;
	opacity: 0;
	transition: all .3s ease;
	transform: translateY(-10px);
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

header .content .languages:hover ul {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}

header .content .languages ul:before {
	content: '';
	position: absolute;
	top: -6px;
	left: 0;
	right: 0;
	margin: auto;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 6px 6px 6px;
	border-color: transparent transparent #fff transparent;
}


header .content .languages ul li a {
	padding: 8px;
	display: block;
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	text-transform: uppercase;
}

header .content .languages ul li a.active {
	font-weight: 600;
}

.movies {
}

.movies .movies-inner {
	margin-left: -33px;
	margin-right: -33px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.movies .movies-filter {
	flex: 0 100%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-right: 38px;
	margin-bottom: 25px;
}


.movies .movies-filter ul {
	padding: 0;
	margin: 0;
	list-style: none;
	border: 1px solid #fff;
	border-radius: 4px;
}

.movies .movies-filter ul li {
	display: inline-block;
	padding: 6px 15px;
	color: #fff;
	font-size: 11px;
	cursor: pointer;
	user-select: none;
	border-right: 1px solid #fff;
}

.movies .movies-filter ul li:last-child {
	border-right: 0;
}

.movies .movies-filter ul li.active {
	background: #fff;
	color: #000000;
}

.movies .movie {
	width: 185px;
	margin: 0 33px;
	margin-bottom: 30px;
	position: relative;
}

.movies .movie .movie-poster {
	margin-bottom: 10px;
	border-radius: 4px;
	overflow: hidden;
	background-color: #262626;
	height: 275px;
	position: relative;
	display: block;
	background-size: 60px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='iso-8859-1'?%3e%3c!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3e%3cg%3e%3cg%3e%3cpath d='M488.468,56.113H23.532C10.557,56.113,0,66.669,0,79.645v352.71c0,12.976,10.557,23.532,23.532,23.532h464.936 c12.976,0,23.532-10.557,23.532-23.532V79.645C512,66.669,501.443,56.113,488.468,56.113z M15,79.645 c0-4.705,3.828-8.532,8.532-8.532h24.564v49.129H15V79.645z M48.097,440.887H23.532c-4.704,0-8.532-3.827-8.532-8.532v-40.597 h33.097V440.887z M48.097,376.758H15v-49.129h33.097V376.758z M48.097,312.629H15V263.5h33.097V312.629z M48.097,248.5H15v-49.129 h33.097V248.5z M48.097,184.371H15v-49.129h33.097V184.371z M448.904,440.887H63.097V71.113h385.807V440.887z M497,432.355 c0,4.705-3.828,8.532-8.532,8.532h-24.564v-49.129H497V432.355z M497,376.758h-33.097v-49.129H497V376.758z M497,312.629h-33.097 V263.5H497V312.629z M497,248.5h-33.097v-49.129H497V248.5z M497,184.371h-33.097v-49.129H497V184.371z M497,120.242h-33.097 V71.113h24.564c4.705,0,8.533,3.827,8.533,8.532V120.242z' fill='white'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath d='M333.398,154.523c-24.379-18.633-54.731-27.845-85.463-25.955c-31.036,1.915-60.25,15.092-82.263,37.104 c-22.012,22.012-35.189,51.227-37.104,82.262c-1.896,30.733,7.321,61.085,25.955,85.464c1.477,1.932,3.708,2.946,5.964,2.946 c1.588,0,3.189-0.502,4.549-1.542c3.291-2.516,3.919-7.223,1.404-10.513c-34.124-44.645-29.894-108.276,9.839-148.01 c39.733-39.734,103.363-43.965,148.011-9.838c3.29,2.515,7.997,1.888,10.513-1.404 C337.318,161.746,336.689,157.039,333.398,154.523z' fill='white'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath d='M357.477,178.601c-2.516-3.292-7.222-3.92-10.514-1.405c-3.291,2.516-3.919,7.223-1.404,10.513 c34.125,44.647,29.895,108.278-9.838,148.011c-39.733,39.732-103.364,43.963-148.011,9.838c-3.29-2.514-7.997-1.887-10.513,1.404 c-2.515,3.291-1.886,7.998,1.405,10.514c22.285,17.033,49.562,26.198,77.558,26.198c2.63,0,5.267-0.081,7.906-0.244 c31.036-1.915,60.25-15.092,82.262-37.104c22.012-22.012,35.189-51.227,37.104-82.263 C385.328,233.332,376.11,202.98,357.477,178.601z' fill='white'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath d='M303.605,237.748l-55.52-32.385c-6.614-3.858-14.528-3.885-21.168-0.071c-6.64,3.814-10.604,10.663-10.604,18.32v64.774 c0,7.658,3.964,14.506,10.604,18.32c3.299,1.895,6.912,2.842,10.524,2.842c3.658,0,7.315-0.971,10.644-2.913l55.52-32.387 c6.563-3.829,10.482-10.651,10.482-18.25S310.168,241.577,303.605,237.748z M296.048,261.292l-55.521,32.387 c-2.765,1.614-5.214,0.552-6.14,0.021c-0.924-0.531-3.075-2.112-3.075-5.313v-64.774c0-3.201,2.151-4.782,3.075-5.313 c0.56-0.322,1.677-0.837,3.084-0.837c0.919,0,1.962,0.22,3.055,0.857l55.521,32.387c2.744,1.6,3.04,4.234,3.04,5.292 S298.792,259.692,296.048,261.292z' fill='white'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e ");
}
.movies .movie .movie-poster:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
	transition: all .3s ease;
}

.movies .movie .movie-poster:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='18px' height='18px' viewBox='0 0 18 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cdefs%3E%3C/defs%3E %3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='Icons/Day/S/play-s'%3E %3Crect id='box' x='0' y='0' width='18' height='18'%3E%3C/rect%3E %3Cpolygon id='play' fill='%23fff' points='5 2 5 16 17 9'%3E%3C/polygon%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
	background-size: 24px;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	background-color: #3BB33B;
	opacity: 0;
	margin: auto;
	z-index: 1;
	transition: all .3s ease;
}

.movies .movie:hover .movie-poster:before,
.movies .movie:hover .movie-poster:after {
	opacity: 1;
}

.movies .movie .movie-rating {
	border-radius: 2px;
	position: absolute;
	left: -5px;
	top: 5px;
	z-index: 5;
	color: #fff;
	width: 32px;
	height: 18px;
	text-align: center;
	font-size: 11px;
	background-color: #aaa;
	line-height: 18px;
}

.movies .movie .movie-rating.movie-rating-positive {
	background-color: #3bb33b;
}

.movies .movie .movie-poster img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 100%;
	width: 100%;
	object-fit: cover;
	transform: scale(1.1);
	transition: all .3s ease;
}

.movies .movie .movie-poster img.img-loaded {
	transform: scale(1);
}


.movies .movie .movie-title {
	display: block;
	text-decoration: none;
	font-size: 15px;
	font-weight: 500;
	line-height: 18px;
	color: rgba(255,255,255,0.7);
	transition: all .3s ease;
	margin-bottom: 5px;
}
.movies .movie:hover .movie-title {
	color: #fff;
}

.movies .movie .movie-genres {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 10px;
}

.movies .movie .movie-genres li {
	display: inline-block;
	color: #aaa;
	font-size: 10px;
	margin-right: 5px;
}
.pagination-container {
	text-align: center;
	width: 100%;
}

.pagination {
	display: inline-block;
	padding: 0;
	list-style: none;
	margin-bottom: 50px;
}

.pagination li {
	display: inline-block;
}

.pagination li a {
	display: block;
	width: 30px;
	height: 30px;
	color: #aaa;
	text-decoration: none;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	margin: 0 10px;
}

.pagination li.active a {
	background: #3bb33b;
	border-radius: 50%;
	color: #fff;
}

.loading-box {
	z-index: 1;
	position: relative;
	height: calc(100vh - 200px);
}

.loading-box:before {
	content: '';
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 50px;
	height: 50px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	border-top-color: rgb(90, 90, 90);
	animation: spin 1s ease-in-out infinite;
	display: block;
	z-index: 11;
}

@keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}

.movie-single {
	margin-bottom: 30px;
}

.movie-single .movie-single-inner {
	display: flex;
	position: relative;
}

.movie-single .movie-poster {
	height: 480px;
	width: 320px;
	min-width: 320px;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	background-color: #262626;
	background-size: 70px;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='iso-8859-1'?%3e%3c!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3e%3cg%3e%3cg%3e%3cpath d='M488.468,56.113H23.532C10.557,56.113,0,66.669,0,79.645v352.71c0,12.976,10.557,23.532,23.532,23.532h464.936 c12.976,0,23.532-10.557,23.532-23.532V79.645C512,66.669,501.443,56.113,488.468,56.113z M15,79.645 c0-4.705,3.828-8.532,8.532-8.532h24.564v49.129H15V79.645z M48.097,440.887H23.532c-4.704,0-8.532-3.827-8.532-8.532v-40.597 h33.097V440.887z M48.097,376.758H15v-49.129h33.097V376.758z M48.097,312.629H15V263.5h33.097V312.629z M48.097,248.5H15v-49.129 h33.097V248.5z M48.097,184.371H15v-49.129h33.097V184.371z M448.904,440.887H63.097V71.113h385.807V440.887z M497,432.355 c0,4.705-3.828,8.532-8.532,8.532h-24.564v-49.129H497V432.355z M497,376.758h-33.097v-49.129H497V376.758z M497,312.629h-33.097 V263.5H497V312.629z M497,248.5h-33.097v-49.129H497V248.5z M497,184.371h-33.097v-49.129H497V184.371z M497,120.242h-33.097 V71.113h24.564c4.705,0,8.533,3.827,8.533,8.532V120.242z' fill='white'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath d='M333.398,154.523c-24.379-18.633-54.731-27.845-85.463-25.955c-31.036,1.915-60.25,15.092-82.263,37.104 c-22.012,22.012-35.189,51.227-37.104,82.262c-1.896,30.733,7.321,61.085,25.955,85.464c1.477,1.932,3.708,2.946,5.964,2.946 c1.588,0,3.189-0.502,4.549-1.542c3.291-2.516,3.919-7.223,1.404-10.513c-34.124-44.645-29.894-108.276,9.839-148.01 c39.733-39.734,103.363-43.965,148.011-9.838c3.29,2.515,7.997,1.888,10.513-1.404 C337.318,161.746,336.689,157.039,333.398,154.523z' fill='white'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath d='M357.477,178.601c-2.516-3.292-7.222-3.92-10.514-1.405c-3.291,2.516-3.919,7.223-1.404,10.513 c34.125,44.647,29.895,108.278-9.838,148.011c-39.733,39.732-103.364,43.963-148.011,9.838c-3.29-2.514-7.997-1.887-10.513,1.404 c-2.515,3.291-1.886,7.998,1.405,10.514c22.285,17.033,49.562,26.198,77.558,26.198c2.63,0,5.267-0.081,7.906-0.244 c31.036-1.915,60.25-15.092,82.262-37.104c22.012-22.012,35.189-51.227,37.104-82.263 C385.328,233.332,376.11,202.98,357.477,178.601z' fill='white'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath d='M303.605,237.748l-55.52-32.385c-6.614-3.858-14.528-3.885-21.168-0.071c-6.64,3.814-10.604,10.663-10.604,18.32v64.774 c0,7.658,3.964,14.506,10.604,18.32c3.299,1.895,6.912,2.842,10.524,2.842c3.658,0,7.315-0.971,10.644-2.913l55.52-32.387 c6.563-3.829,10.482-10.651,10.482-18.25S310.168,241.577,303.605,237.748z M296.048,261.292l-55.521,32.387 c-2.765,1.614-5.214,0.552-6.14,0.021c-0.924-0.531-3.075-2.112-3.075-5.313v-64.774c0-3.201,2.151-4.782,3.075-5.313 c0.56-0.322,1.677-0.837,3.084-0.837c0.919,0,1.962,0.22,3.055,0.857l55.521,32.387c2.744,1.6,3.04,4.234,3.04,5.292 S298.792,259.692,296.048,261.292z' fill='white'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e ");
}

.movie-single .movie-poster img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 100%;
	width: 100%;
	object-fit: cover;
	transform: scale(1.1);
	transition: all .3s ease;
}

.movie-single .movie-poster img.img-loaded {
	transform: scale(1);
}

.movie-single .movie-rating {
	border-radius: 2px;
	position: absolute;
	left: -5px;
	top: 5px;
	z-index: 5;
	color: #fff;
	width: 50px;
	height: 28px;
	text-align: center;
	font-size: 14px;
	background-color: #aaa;
	line-height: 28px;
}

.movie-single .movie-rating.movie-rating-positive {
	background-color: #3bb33b;
}
.movie-single .movie-details {
	margin-left: 30px;
}

.movie-single .movie-details .movie-title {
	color: #fff;
	font-size: 32px;
	margin-bottom: 30px;
}

.movie-single .movie-details .movie-title span {
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: 500;
}

.movie-single .movie-details .movie-description {
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	margin-bottom: 30px;
}

.movie-single .movie-details .movie-description span {
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: 500;
}

.movie-single .movie-details .movie-item span {
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: 500;
}

.movie-single .movie-details .movie-item {
	font-size: 15px;
	color: #fff;
	margin-bottom: 30px;
}

.movie-single .movie-details .movie-genres {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
}

.movie-single .movie-details .movie-genres li {
	display: inline-block;
	color: #fff;
	background: #3bb33b;
	margin-right: 10px;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 11px;
}


.pswp-gallery .pswp-thumbnails {
	display: flex;
	flex-wrap: wrap;
}
.pswp-gallery .pswp-thumbnails .pswp-thumbnail {
	margin: 0 15px 30px;
	width: 210px;
	height: 120px;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
	background: #262626;
	cursor: pointer;
}

.pswp-gallery .pswp-thumbnails .pswp-thumbnail img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: all .3s ease;
}

.pswp-gallery .pswp-thumbnails .pswp-thumbnail:hover img {
	transform: scale(1.05);
}

.movie-single .movie-details .images .image img.img-loaded {
	transform: scale(1);
	opacity: 1;
}

.movie-single .movie-details .images .images-inner {
	display: flex;
	flex-wrap: wrap;
}

.images .title {
	display: block;
	margin-bottom: 20px;
	font-size: 20px;
	color: #fff;
	width: 100%;
}

.movie-single .movie-details .images .image {
	margin: 0 15px 30px;
	width: 185px;
	height: 105px;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
	background: #262626;
}

.movie-recommendations .title,
.person-credits .title {
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.credits {
	position: relative;
	margin-bottom: 50px;
}

.credits .loading-box {
	height: 225px;
}

.credits .loading-box:before {
	height: 30px;
	width: 30px;
}

.credits-inline {
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
}

.credits .credits-title {
	margin-bottom: 20px;
	font-size: 20px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.credits .credits-title span {
	font-size: 10px;
	color: #ddd;
	margin-left: 20px;
	cursor: pointer;
	border: 1px solid #fff;
	padding: 1px 6px;
	line-height: 18px;
	border-radius: 3px;
	margin-right: 10px;
	user-select: none;
}


.credits .credits-title span.active {
	background: #fff;
	border: 1px solid transparent;
	color: #000;
}

.credits .credit-item {
	margin: 0 15px 30px;
	width: 120px;
}

.credits .credit-item .credit-img {
	width: 100%;
	height: 180px;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 10px;
	background-color: #262626;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='iso-8859-1'?%3e%3c!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 482.974 482.974' style='enable-background:new 0 0 482.974 482.974;' xml:space='preserve'%3e%3cg%3e%3cg%3e%3cpath d='M155.504,204.774c4.4,28.6,26.5,65,62.8,77.8c14.9,5.2,31.2,5.3,46.1-0.1c35.7-12.9,58.5-49.2,63-77.7 c4.8-0.4,11.1-7.1,17.9-31.2c9.3-32.9-0.6-37.8-9-37c1.6-4.5,2.8-9.1,3.6-13.5c14.2-85.3-27.8-88.2-27.8-88.2s-7-13.4-25.3-23.5 c-12.3-7.3-29.4-12.9-51.9-11c-7.3,0.3-14.2,1.8-20.7,3.9l0,0c-8.3,2.8-15.9,6.9-22.8,11.7c-8.4,5.3-16.4,11.9-23.4,19.4 c-11.1,11.4-21,26.1-25.3,44.4c-3.6,13.7-2.8,28,0.2,43.4l0,0c0.8,4.5,2,9,3.6,13.5c-8.4-0.8-18.3,4.1-9,37 C144.404,197.674,150.704,204.374,155.504,204.774z' fill='%23ddd'/%3e%3cpath d='M406.404,316.674c-51.1-13-92.6-42.2-92.6-42.2l-32.4,102.5l-6.1,19.3l-0.1-0.3l-5.3,16.4l-17.1-48.5 c42-58.6-8.5-58-11.3-57.9c-2.8-0.1-53.3-0.7-11.3,57.9l-17.1,48.5l-5.3-16.4l-0.1,0.3l-6.1-19.3l-32.5-102.5 c0,0-41.5,29.2-92.6,42.2c-38.1,9.7-39.9,53.7-38.4,75.4c0,0,2.2,29.5,4.4,42.5c0,0,74.4,48.3,199,48.4c124.6,0,199-48.4,199-48.4 c2.2-13,4.4-42.5,4.4-42.5C446.304,370.374,444.504,326.374,406.404,316.674z' fill='%23ddd'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e ");
	background-size: 60px;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
}

.credits .credit-item .credit-img img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 100%;
	width: 100%;
	object-fit: cover;
	transform: scale(1.1);
	transition: all .3s ease;
}

.credits .credit-item .credit-img img.img-loaded {
	transform: scale(1);
}

.credits .credit-item .credit-content {
	color: #fff;
}

.credits .credit-item .credit-content .credit-name {
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 5px;
}

.credits .credit-item .credit-content .credit-character {
	font-size: 11px;
}

.trailers {
	position: relative;
	margin-bottom: 50px;
}

.trailers .loading-box {
	height: 225px;
}

.trailers .loading-box:before {
	height: 30px;
	width: 30px;
}

.trailers .trailers-title {
	margin-bottom: 20px;
	font-size: 20px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.trailers .trailers-title span {
	font-size: 10px;
	color: #ddd;
	margin-left: 20px;
	cursor: pointer;
	border: 1px solid #fff;
	padding: 1px 6px;
	line-height: 18px;
	border-radius: 3px;
	margin-right: 10px;
	user-select: none;
}

.trailers .trailers-title span.active {
	background: #fff;
	border: 1px solid transparent;
	color: #000;
}

.trailers-inline {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.trailers iframe {
	margin: 10px 0;
}

.recommendations {
	position: relative;
}


.person {
	margin-bottom: 30px;
}

.person .person-inner {
	display: flex;
	position: relative;
}

.person .person-image {
	height: 480px;
	width: 320px;
	min-width: 320px;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	background-color: #262626;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='iso-8859-1'?%3e%3c!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 482.974 482.974' style='enable-background:new 0 0 482.974 482.974;' xml:space='preserve'%3e%3cg%3e%3cg%3e%3cpath d='M155.504,204.774c4.4,28.6,26.5,65,62.8,77.8c14.9,5.2,31.2,5.3,46.1-0.1c35.7-12.9,58.5-49.2,63-77.7 c4.8-0.4,11.1-7.1,17.9-31.2c9.3-32.9-0.6-37.8-9-37c1.6-4.5,2.8-9.1,3.6-13.5c14.2-85.3-27.8-88.2-27.8-88.2s-7-13.4-25.3-23.5 c-12.3-7.3-29.4-12.9-51.9-11c-7.3,0.3-14.2,1.8-20.7,3.9l0,0c-8.3,2.8-15.9,6.9-22.8,11.7c-8.4,5.3-16.4,11.9-23.4,19.4 c-11.1,11.4-21,26.1-25.3,44.4c-3.6,13.7-2.8,28,0.2,43.4l0,0c0.8,4.5,2,9,3.6,13.5c-8.4-0.8-18.3,4.1-9,37 C144.404,197.674,150.704,204.374,155.504,204.774z' fill='%23ddd'/%3e%3cpath d='M406.404,316.674c-51.1-13-92.6-42.2-92.6-42.2l-32.4,102.5l-6.1,19.3l-0.1-0.3l-5.3,16.4l-17.1-48.5 c42-58.6-8.5-58-11.3-57.9c-2.8-0.1-53.3-0.7-11.3,57.9l-17.1,48.5l-5.3-16.4l-0.1,0.3l-6.1-19.3l-32.5-102.5 c0,0-41.5,29.2-92.6,42.2c-38.1,9.7-39.9,53.7-38.4,75.4c0,0,2.2,29.5,4.4,42.5c0,0,74.4,48.3,199,48.4c124.6,0,199-48.4,199-48.4 c2.2-13,4.4-42.5,4.4-42.5C446.304,370.374,444.504,326.374,406.404,316.674z' fill='%23ddd'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e ");
	background-size: 150px;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
}

.person .person-image img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 100%;
	width: 100%;
	object-fit: cover;
	transform: scale(1.1);
	transition: all .3s ease;
}

.person .person-image img.img-loaded {
	transform: scale(1);
}

.person .person-details  {
	margin-left: 30px;
}

.person .person-details .person-name {
	color: #fff;
	font-size: 32px;
	margin-bottom: 30px;
}

.person .person-details  .person-name span {
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: 500;
}

.person .person-details .person-biography {
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	margin-bottom: 30px;
}

.person .person-details .person-biography span {
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: 500;
}

.person .person-details .person-item {
	font-size: 15px;
	color: #fff;
	margin-bottom: 30px;
}

.person .person-details .person-item span {
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: 500;
}

.person .person-details .person_images .title {
	display: block;
	margin-bottom: 20px;
	font-size: 20px;
	color: #fff;
	width: 100%;
}

.person .person-details .person_images .pswp-gallery .pswp-thumbnails {
	display: flex;
	flex-wrap: wrap;
}
.person .person-details .person_images .pswp-gallery .pswp-thumbnails .pswp-thumbnail {
	margin: 0 15px 30px;
	width: 115px;
	height: 160px;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
	background: #262626;
	cursor: pointer;
}

.person .person-details .person_images .pswp-gallery .pswp-thumbnails .pswp-thumbnail img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: all .3s ease;
}

.person .person-details .person_images .pswp-gallery .pswp-thumbnails .pswp-thumbnail:hover img {
	transform: scale(1.05);
}

.error-container {
 text-align: center;
}

.error {
	font-size: 60px;
	color: #c4302b;
	text-transform: uppercase;
}

.error-code {
	font-size: 120px;
	color: #c4302b;
	text-transform: uppercase;
}